.navbar {
    display: flex;
    width: 100vw;
    height: 40px;
}

.li {
    width: fit-content;
    height: fit-content;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}