/* 
#c3965f
#f2ebe0
#cad1ce
#364a60
#1e2b3a
#6f7275
 */

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #1e2b3a;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 13vh;
  width: 100vw;
  background-color: #cad1ce;
  top: 0px;
  font-size: 22pt;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 5px;
  z-index: 2;
  /* padding-bottom: -10px; */
}

.sub-header {
  display: flex;
  min-width: 75vw;
  justify-content: space-between;
  padding-right: 5px;
  min-height: 66px;
  @media only screen and (max-width: 320px){
    
  }
}

.head-spacer {
  width: 350px;
  @media (max-width: 1200px){
    width: 0px;
  }
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media (max-width: 520px){
    text-align: right;
    padding-left: 10px;
  }
  @media (max-width:350px){
    scale: 55%;
  }
}

.blue-btn, .orange-btn, .btn  {
  border-radius: 6px;
  padding: 18px;
  font-size: 15pt;
  width: 350px;
  min-height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cad1ce;
  text-decoration: none;
  color:#364a60;
  z-index: 3;
  @media (max-width: 800px){
    scale:75%;
  }
}

.blue-btn {
  color: rgb(228, 228, 228);
  background-color: #1e2b3a;
}

.orange-btn {
  background-color: #c3965f;
  margin-top: 30px;
}

.orange {
  color: #c3965f;
  text-align: center;
}

.orange-welcome-button {
  @media (max-width: 300px){
    margin-left: 10vw;
    margin-right: 10vw;
    width: auto;
    text-align: center;
  }
}

.inactive-btn {
  padding: 5px;
  /* border-radius: 5px; */
  background-color:#364a60;
  margin-top: 10px;
  border: none;
  border-left: 2px solid #cad1ce;
  border-right: 2px solid #cad1ce;
  color:#818181;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.welcome {
  min-height: 86vh;
  width: 100vw;
  background-color: #364a60;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #cad1ce;
  padding-top: -50px;
  padding-bottom: 50px;
  gap: 20px;
  @media (max-width:735px){
    padding-bottom: 35px;
    min-height: fit-content;
  }
}

.welcome_img {
  min-height: 550px;
  @media (max-width: 1150px){
    width: 100vw;
    min-height: auto;
  }
}

.credImg {
  height: 10%;
  width: auto;
  @media (max-width: 550px){
    scale: 75%;
  }
  @media (max-width:500px){
    scale: 60%;
  }
}

.credentialImage {
  @media (max-width: 500px){
    width: 90%;
  }
}

.compthree {
  width: 100vw;
  background-color: #cad1ce;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-three {
  display: flex;
  width: 65vw;
  gap: 150px;
  @media (max-width:1275px){
    min-width: 65vw;
    gap: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  @media (max-width:1115px){
    gap: 0px;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 800px){
    width: 90%;
  }
}

.comp-three-text {
  font-weight: 100;
  font-size: 16pt;
  width: 75%;
  padding:25px;
  /* padding-top: 50px; */
  padding-bottom: 50px;
  @media (max-width:1115px){
    width: 100%;
  }
  @media (max-width:875px){
    width: 90%;
    
  }
}

.comp-three-title {
  display: flex;
  text-align: center;
  align-items: center;
  @media (max-width: 800px){
    scale: 75%;
  }
  /* @media (max-width: 500px){
    scale: 50%;
  } */
}

.compFour {
  min-height: 95vh;
  width: 100vw;
  background-color: #364a60;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comp-Four {
  display: flex;
  width: 75vw;
  align-items: center;
  height: 100%;
  @media (max-width:1250px){
   width: 90%; 
  }
  @media (max-width: 740px){
    flex-direction: column;
  }
}

.fourTitle {
  color: #f2ebe0;
  height: 100%;
  text-align: center;
  @media (max-width:1050px){
  };
  @media (max-width:875px){
    scale: 75%;
  }
  @media (max-width:740px){
    margin-top: 0px;
  }
}

.credential {
  min-height: 40vh;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1e2b3a;
  border-bottom: 4px dotted rgba(240, 240, 240, .2);
  @media (max-width: 550px){
    min-height: fit-content;
  }
}

.navbar {
  display: flex;
  width: 100vw;
  min-height: 6vh;
  background-color: #cad1ce;
  justify-content: center;
}

.navUl {
  width: 75vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: auto;
  @media (max-width:600px){
    justify-content: center;
    padding-right: 0px;
  }
  @media (max-width: 431px) {
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }
}

.li {
  width: fit-content;
  height: 23px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 450px){
    scale: 75%;
  }
}

.fourPar {
  margin-top: 15px;
  text-align: center;
  @media (max-width: 730px){
    margin-left: 50px;
    margin-right: 50px;
  }
}

h3 {
  text-align: center;
  font-weight: 100;
  /* width: 90%; */
  line-height: 1.5;
}

.textDiv {
  margin-bottom: 20px;
}

.whiteText {
  color:#b5b5b5;
  @media (max-width: 1440px){
    width: 90%;
  }
}

.delete-user-button {
  @media (max-width: 1330px){
    width: 90%;
  }
}

.billPageHeader {
  color:#cad1ce;
  font-size: 20pt;
  margin-top: 2vh;
  @media (max-width: 800px){
    scale: 75%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
  }
}

.hierarchy {
  @media (max-width:1250px) {
    scale: 75%;
  }
  @media (max-width:740px){
    width: 60%;
  }
}

h2 {
  margin-bottom: 20px;
  margin-top: -45px;
  color: #cad1ce;
  @media (max-width: 730px) {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

h1 {
  font-size: 73px;
  font-weight: 200;
  @media (max-width: 875px){
    margin-top: 25px;
  }
  
}

.compFour-text {
  width: 77%;
  color: #f2ebe0;
  height: 100%;
  text-align: left;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width:1050px){
    width: 100vw;
  }
}

.page {
  width: 100vw;
  min-height: 70vh;
  background-color: #364a60;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.auth-form, .reg-form {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  padding: 25px;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 3px grey;
  @media (max-width: 480px){
    width: 90%;
  }
}

.authform-button {
  @media (max-width:800px){
    scale:100%;
    text-align: center;
  }
  @media (max-width: 480px){
    width: 100%;
  }
}

.reg-form {
  width: 50%;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media (max-width: 1200px){
    width: 90%;
  }
  @media (max-width:480px){
    flex-direction: column;
  }
}

.form-input, .reg-form-input {
  min-height: 30px;
  margin-top: 1.5%;
  background-color: #364a60;
  color:#f2ebe0;
  font-size: 15pt;
  padding: 3px;
}

.reg-form-input {
  width: 35%;
  @media (max-width:600px){
    width: 100%;
  }
}

.email {
  min-width: 80%;
}

.form-input:focus, .reg-form-input:focus {
  /* outline-color:grey; */
  outline: none;
}

.form-input::placeholder, .reg-form-input::placeholder {
  color:#cad1ce;
}

.badlogin {
  color: lightcoral;
  margin-top: 15px;
  font-size: 14pt;
  text-align: center;
}

.h6 {
  display: block;
  flex-direction: row;
}

a {
  text-decoration: none;
}

a:hover {
  scale: 1.01;
  cursor: pointer;
  z-index: 6;
}

a:active {
  scale: 1;
}

li:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid black;
  /* scale: 1; */
}

.testimonial {
  min-height: 79vh;
  display: flex;
  width: 100vw;
  background-color:#364a60;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 1110px){
    padding-top: 0px;
  }
}

.heart-puzzle {
  max-width: 40%;
}

.testimonial2 {
  background-color: #cad1ce;
}

.img_textHolder {
  display: flex;
  width: 100vw;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
  @media (max-width:1110px){
    flex-direction: column;
  }
}

.img_textHolder2{
  @media (max-width:1110px){
    display:flex;
    flex-direction: column-reverse;
  }

}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #cad1ce;
  margin-top: 0px;
  width: 37%;
  @media (max-width:1110px){
    width: 80%;
  }
  @media (max-width:500px){
    width: 100%;
  }
}

.text {
  color:#cad1ce;
  margin-top: 5px;
  @media (max-width:575px){
    width: 90%;
  }
}

.text-header {
  @media (max-width: 550px){
    width: 100%;
    font-size:30pt;
    text-align: center;
  }
}

.two {
  color:#1e2b3a;
}

.accountPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.accountPageText {
  color:#c3965f;
  font-size: 36pt;
  margin-top: -200px;
}

.adminPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 83vh;
  background-color: #364a60;
}

.Centered {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 20px;
}

.editValuesForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vhd;
  gap: 2vh;
  min-height: 40vh;
  width: 100vw;
  align-items: center;
}

.editInput {
  height: 25px;
  /* background-color: #818181; */
  width: 40vw;
  @media (max-width: 1000px){
    width: 75vw;
  }
}

.userCard {
  width: 45vw;
  min-height: 150px;
  border: 1px solid grey;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #cad1ce;
  @media (max-width:1140px){
    width: 75vw;
  }
  @media (max-width:475px){
    scale: 80%;
  }
}

.billing {
  min-height: 68vh;
  background-color:#364a60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.billing-card-btn {
  @media (max-width: 360px){
    width: 90%;
  }
}

.billscontainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.billdiv {
  height: 50px;
  background-color: #f2ebe0;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  margin: 10px;
}

.backbtn .billdetail {
  padding-left: 10px;
  margin-top: 20px;  
  padding-bottom: 20px;
  background-color: #364a60;
}

.backbtn {
  position: absolute;
  color:#c3965f;
  font-size: 14pt;
}

.topBack {
  top: 10vh;
  left: 10px;
  z-index: 2;
  @media (max-width: 830px){
    
  }
}

.lowerTopBack {
  top: 24vh;
}

.bottomBack {
  position: relative;
  left: 10px;
  bottom: 5vh;
  z-index: 3;
}

.billdetail {
  min-height: 72vh;
  background-color: #364a60;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.billdetail_admin {
  min-height: 83vh;
}

.billdetail_blur {
  filter: blur(4px);
}

.table {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  padding-bottom: 50px;
}

table {
  background-color: #cad1ce;
  padding: 100px;
  border-radius: 3px;
  @media (max-width: 630px){
    padding: 0px;
  }
}

.bills_detail_table, .bills_detail, .bills_detail_head, .bills_detail_foot, .bills_detail_foottwo {
  border: 1px solid #364a60;
  padding: 10px;
}

.bills_detail_table {
  @media (max-width: 800px){
    scale: 75%;
    margin-top: -30px;
    margin-bottom: -50px;
  }
  @media (max-width: 630px){
    /* scale: 40%; */
    width: 90vw;
    margin-top: -60px;
    margin-bottom: -60px;
    /* margin-left: 0px;
    margin-right: 0px; */
  }
}

.bills_detail_head {
  border-bottom: 3px solid #364a60;
  font-weight: bolder;
  width: auto;
}

.bills_detail {
  width: auto;
  height: 20px;
}

.bills_detail_foot {
  border: 3px double #364a60;
  font-weight: bolder;
}

.bills_detail_foottwo {
  border: 4px double #364a60;
  font-weight: bolder;
}

.add_charge {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  padding-bottom: 50px;
}

.modalDiv {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalParentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* @media (max-width: ){} */
}

.add_charge_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  /* min-width: 28vw; */
  min-width: 430px;
  /* min-height: 40vh; */
  min-height: 190px;
  border-radius: 10px;
  background-color:#364a60;
  margin-top: 22vh;
  position: fixed;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-left: 36vw; */
  /* margin-right: auto; */
  bottom: 40vh;
  @media (max-width:1220px){
    position: absolute;
    margin-left: 0px;
    gap: 5%;
  }
}

.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  width: 150px;
}

.paid {
  background-color: aquamarine;
}

.unpaid {
  background-color: salmon;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75px;
  height: 100%;
}

.paid_save_btn {
  padding: 3px;
  background-color: #364a60;
  border-radius: 5px;
  color:#f2ebe0;
}

.clientProfilePage {
  min-height: 83vh;
  background-color: #364a60;
  color:#c3965f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clientProfileSection {
  margin-bottom: 0px;
}

.clientinfo {
  text-align: center;
  width: 100vw;
}

.clientinfolink {
  color:#c3965f;
}

.closeModal {
  position: fixed;
  top: 9vh;
  right: 17px;
  color:#cad1ce;
  font-weight: bold;
  font-size: 17pt;
  z-index: 10;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 11vh;
  background-color: #1e2b3a;
  @media (max-width: 550px){
    gap: 5vw;
    /* justify-content: center; */
    flex-direction: column;
  }
}

.footerIcons {
  display: flex;
  flex-wrap: nowrap;
  min-width: 100px;
  min-height: 45px;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 350px){
    min-width: 35vw;
  }
}

.footerLinks {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cad1ce;
}

.footerLinks:hover {
  scale: 1.03;
}

.spacer {
  width: 15vw;
  @media (max-width:550px){
    width: 0;
  }
}

.footer-text {
  color:#cad1ce;
  @media (max-width: 550px){
    margin-bottom: 20px;
    width: 50vw;
    text-align: center;
  }
}

.edit_head {
  text-align: center;
}

.disabled {
  background-color: #a5a5a5;
  color:#b5b5b5;
}

.noBorder {
  border: none;
}