/* 
#c3965f
#f2ebe0
#cad1ce
#364a60
#1e2b3a
#6f7275
 */

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  height: 14vh;
  width: 100vw;
  background-color: #cad1ce;
  /* position: absolute; */
  top: 0px;
  font-size: 22pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-header {
  display: flex;
  width: 60vw;
  justify-content: space-between;
}

.header-text {
  display: flex;
  width: 40vw;
  justify-content: end;
  padding-right: 10vw;
  align-items: center;
}

button {
  border-radius: 3px;  
}

.header-btn {
  color: #cad1ce;
  background-color: #1e2b3a;
  width: 45%;
  font-size: 18pt;
}

.welcome {
  height: 86vh;
  width: 100vw;
  background-color: #364a60;
  /* color: black; */
}

/* h4 {
  color: #c3965f;
} */